<!DOCTYPE html>
<html>
  	<head>
  		  <% include ./head %>
  	</head>
  
  	<body>
  
  		<header>
        	<% include ./header %>
        
    	</header>
    
    	<main>
       		<H1><Strong> Team 1 </Strong></h1>
       		<h2>Anvita</h2>
       		<h2>Kalyani</h2>
       		<h2>Rakesh</h2>
       		<h2>Sarat</h2>
       
    	</main>
    </body>
    
<footer>
   <% include ./footer %>
</footer>
  
</html>