<!DOCTYPE html>
<html>
  	<head>
  		  <% include ./head %>
  	</head>
  
  	<body>
  
  		<header>
        	<% include ./header %>
        
    	</header>
    
    	<main>
       		welcome to about us
       		anvita
       		kalyani 
       
    	</main>
    </body>
    
<footer>
   <% include ./footer %>
</footer>
  
</html>