<!DOCTYPE html>
<html>
  	<head>
  	<div align="center" id="header" style="top: 0;left:100;"><img src="http://static.heels.com/images/S/gbyguess.logo.jpg" style="width:300px;height:200px;"/>
		<img src="http://www.fakeblack.com/wp-content/uploads/2015/07/guess_logo.png" style="position: relative; width:1000px;height:200px;"/>
	</div>

  	</head>
  	
  <style>
  html{
background: url("http://thumbs.dreamstime.com/z/summer-accessories-background-sketch-hand-drawn-outlines-sun-sunglasses-shopping-bags-purse-skincare-products-sun-protection-29915874.jpg") no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
}
  </style>
 
 <nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
    	<div class="navbar-header">
        </div>
    </div>
</nav>
  
  	<body>

    
			<section class="main-content">
				<div class="row">
					<div class="span12">
					<br>
					<br>
					<br>
					<Strong><div style="font-size:50px"; align="center"> <h1>Checkout Options </h1></div></Strong>
					
<h1><div align="center"><button><a href="/guest"><h2>Continue as a Guest</h2></a></button></div></h1>

<h1><div align="center"><button><a href="/user"><h2>Continue as a User</h2></a></button></div></h1>
									
					</div>
				</div>
			</section>			
    </body>
</html>