<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Bag store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   
 
   
</head>
<body>


<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon glyphicon-tree-deciduous"></span></a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            
            <li class="dropdown"><a class ="dropdown-toggle" data-toggle="dropdown" href="/men">Men<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/men">All</a></li>
					<li><a href="/menwallet">Wallet</a></li>
					<li><a href="/mencrossbody">Crossbody</a></li>
					<li><a href="/menbackpack">Backpack</a></li>
				</ul>
			</li>	
           
           	<li class="dropdown"><a class ="dropdown-toggle" data-toggle="dropdown" href="/women">Women<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/women">All</a></li>
					<li><a href="/womenwallet">Wallet</a></li>
					<li><a href="/womenhandbag">Handbag</a></li>
					<li><a href="/womenclutch">Clutch</a></li>
					<li><a href="/womencrossbody">Crossbody</a></li>
					<li><a href="/womenbackpack">Backpack</a></li>
				</ul>
			</li>
           
           
            <li><a href="/about">About</a></li>
            
          
</ul> 
</div>
</nav>

</body>
</html>